.recipe_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner_list {
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2%;

}

.banner_pic_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background.jpg");
    background-size: 200px;
    width: 900px;
    height: auto;
    border: 10px solid rgb(233, 190, 165);
    box-shadow: 0 0 5px 5px rgb(164, 157, 70);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 50px;
    border-radius: 2%;

}

.list_box {
    background-color: white;
    border: 5px solid rgb(233, 190, 165);
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 2%;

}

.outer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    font-size: larger;
    font-weight: bolder;
    background-image: url("../images/background.jpg");
    background-size: 100px;
    border: 2px solid rgb(137, 94, 14);
    box-shadow: 0 0 2px 2px rgb(164, 157, 70);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 40%;


}

.myRecipes_title {
    text-align: center;
    margin: 10px;
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: 900;
    background-color: white;
    width: 160px;
    height: 50px;
    border-radius: 40%;
    padding: 3px
}

.recipe_name {
    text-decoration: none;
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    font-size: xarge;
    font-weight: 900;
}

.delete_button {
    width: 40px;
    height: 30px;
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    font-size: medium;
    font-weight: bolder;
    background-color: rgb(233, 190, 165);
    border: 2px solid rgb(137, 94, 14);
}

.recipe::marker {
    color: rgb(137, 94, 14);
}

.listPicBox {
    width: 75px;
    height: 100%;
    border: 2px solid rgb(137, 94, 14);
    margin: 5px;
    border-radius: 5%;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(164, 157, 70);
    background-color: rgb(249, 227, 215);
    box-shadow: 0 0 2px 2px rgb(164, 157, 70);
    border-radius: 2%;
}

.info {
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    font-size: small;
    font-weight: bolder;
}

.titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipeGrid {
    display: grid;
    grid-template-rows: repeat(180px);
    grid-template-columns: repeat(3, 180px);
    grid-gap: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}