@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


.flexBox-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    padding: 50px;
    background-color: rgba(233, 190, 165, 0.5);

}

.newRecipeForm {
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 2%;

}


.inner_form {
    background-image: url("../images/background.jpg");
    background-size: 200px;
    width: 800px;
    height: auto;
    border: 7px solid;
    color: rgb(233, 190, 165);
    box-shadow: 0 0 10px 10px rgb(164, 157, 70);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2%;

}

.white_form {
    background-size: 700px;
    background-color: white;
    width: 750px;
    height: auto;
    border: 7px solid white;
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    border-radius: 2%;

}

.form-group {
    margin-left: 50px;
    margin-right: 50px;
}

.title {
    text-align: center;
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    font-weight: 2000;
    background-color: white;
    width: 200px;
    height: 50px;
    border-radius: 40%;
    padding: 3px
}

.flexTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.outer_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 70px;
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    font-size: larger;
    font-weight: bolder;
    background-image: url("../images/background.jpg");
    background-size: 100px;
    border: 2px solid rgb(137, 94, 14);
    box-shadow: 0 0 2px 2px rgb(164, 157, 70);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 40%;

}

.add_ingredient_button {
    width: 100px;
    height: 30px;
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    font-size: medium;
    font-weight: bolder;
    background-color: rgb(164, 157, 70);
    border: 2px solid rgb(137, 94, 14);
    box-shadow: 0 0 2px 2px rgb(164, 157, 70);
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2%;

}

.save_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    font-size: larger;
    font-weight: bolder;
    background-image: url("../images/background.jpg");
    background-size: 100px;
    border: 2px solid rgb(137, 94, 14);
    box-shadow: 0 0 2px 2px rgb(164, 157, 70);
    margin-left: 225px;
    margin-bottom: 20px;
    border-radius: 40%;

}

.inner_button {
    background-color: white;
    width: 180px;
    height: 30px;
    border-radius: 40%;
    padding: 4px
}

.form-control {
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: x-large;

}

.form-option {
    font-family: 'Amatic SC', cursive;
}

.formSection {
    padding: 5px;
    font-size: large;
    font-weight: 700;
}

.label {
    font-size: medium;
    font-weight: 700;
}