.banner {
    text-align: center;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_img {
    margin-top: 0px;
    border: 5px solid rgb(137, 94, 14);
}

.html {
    background-color: rgb(233, 190, 165);
}