.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phaseProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileBox1 {
    background-color: rgb(137, 94, 14);
    width: 950px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.profileBox2 {
    background-image: url("../images/background.jpg");
    background-size: 900px;
    width: 800px;
    height: auto;
    border: 7px solid;
    color: rgb(233, 190, 165);
    margin: 50px;
    box-shadow: 0 0 10px 10px rgb(164, 157, 70);
    padding: 50px;
}

.profileBox3 {
    background-size: 700px;
    background-color: rgb(233, 190, 165);
    width: 700px;
    height: auto;
    border: 7px solid white;
    color: rgb(137, 94, 14);
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    font-weight: 800;
    padding: 20px;
}

.phaseInfoGraphicLink {
    text-align: center;
    text-decoration: none;
    font-size: medium;
    color: rgb(137, 94, 14);
    border: 2px solid rgb(164, 157, 70);
    background-color: white;
    width: 80px;
}

.phase_title_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}